*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$menu-background-color: rgba(0,0,0,0.4);
$menu-text-color:white;

@mixin menu-text-style{
    text-decoration: none;
    font-size: 1.2em;
    font-family:'Times New Roman', Times, serif;

}

.wrapper{
    background: url(img/background.png) no-repeat;
    background-size: cover;
    height: 100vh;
}

nav{
    height: 80px;
    width: 100%;
    background-color: $menu-background-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .logo{
        width: 51px;
        height: auto;
        padding: 17px 9px;
    }

    ul{
        margin-right: 25px;
        li{
            list-style: none;
            display: inline-block;
            line-height: 80px;
            margin: 0 8px;

            a{
                
                @include menu-text-style();
                color: $menu-text-color;
            }
        }
    }
}