*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$menu-background-color: rgba(0,0,0,0.4);
$menu-text-color:white;

@mixin menu-text-style{
    text-decoration: none;
    font-size: 1.2em;
    font-family:'Times New Roman', Times, serif;

}

@mixin menu-hover-effect {
    background: red;
    border-radius: 2px;
}

.wrapper{
    background: url(img/background.png) no-repeat;
    background-size: cover;
    height: 100vh;
}

nav{
    height: 80px;
    width: 100%;
    background-color: $menu-background-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .logo{
        width: 51px;
        height: auto;
        padding: 17px 9px;
    }

    ul{
        margin-right: 25px;

        li{
            list-style: none;
            display: inline-block;
            line-height: 80px;
            margin: 0 8px;

            a.active{
                @include menu-hover-effect();
            }

            a{
                
                @include menu-text-style();
                color: $menu-text-color;
                padding: 6px 13px;
                transition: 0.4s;

                
                
                &:hover{
                    @include menu-hover-effect();
                }
            }
            
        }
    }
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
    user-select: none;

    h1{
        color: white;
        font-size: 4em;
        // width: 900px;
        // text-align: center;

    }
    h2{
        color: white;
        font-size: 3.8em;
        margin-top: 25px;
    }

    .buttons{
        margin: 35px 280px;
        button{
            height: 50px;
            width: 150px;
            font-size: 1.2em;
            font-weight: bold;
            color: #ffb3b3;
            background-color: red;
            border: 1px solid red;
            outline: none;
            cursor: pointer;
            border-radius: 25px;
            transition: 0.5s;

            &:hover{
                background: #cc0000;
            }

        }
        .btn{
            margin-left: 25px;
        }

    }
}