*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$menu-background-color: rgba(0,0,0,0.4);

.wrapper{
    background: url(img/background.png) no-repeat;
    background-size: cover;
    height: 100vh;
}

nav{
    height: 80px;
    width: 100%;
    background-color: $menu-background-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .logo{
        width: 51px;
        height: auto;
        padding: 17px 9px;
    }
}